<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>CS290 & CS 496 Final Project for burleigb</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid">
	<div id='user'></div>
	<div id="content" class="jumbotron" >
	</div>


	<button class="hidden" id="publicButton" onClick="togglePublic(1)">View Public Reviews</button>

	<div id="books">
	</div>
</div>
</body>
</html>
